*{margin: 0;
    padding: 0;
    }
    .navigation{
        font-family: var(--font1);
        height: 45px;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    
    }
    
    .nav-left{
        font-size: 20px;
        display: flex;
    
    }
    .nav-left ul{
        display: flex;
        align-items: center;
        margin: 0 77px;
        font-size: 18px;
    }
    .nav-left ul li{
        list-style: none;
        margin:  0 14px;
        font-family: var(--font2);
    }
    .nav-left ul li a{
        text-decoration: none;
    }
    .nav-right{
    
    }
    .content{
        height: 450px;
        display: flex;
        margin-top: 320px;
        padding: 9px;
        position: relative;
        
        
        /* background-color: aqua; */
    }
    .content::after{
        content: "";
        background-image: url('../io.jpg');
        opacity: 0.15;
        position: absolute;
        width: 100%;
        height: inherit;
    }
    
    .content-left{
        font-family: var(--font1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
    
    }
    .content-right{
        display: flex;
        align-items: center; 
        justify-content: center;
    
    }
    .content-right img{
        margin: 2px;
        
        border: 2px solid wheat;
        height: 250px;
        border-radius: 200px;
       
    }
    .home-articles{
        /* height: 455px; */
        /* background-color: darkcyan; */
    }
    .home-article{
        display: flex;
    }
    .home-article-content{
        align-self: center;
        padding: 42px;
        margin: 4px;
    }
    .home-article img{
        height: 230px;
        padding: 50px;
        margin: 4px;
    }
    .footer{
        height: 55px;
        /* background-color: blueviolet; */
        
    }